<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="cgshop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <cgshop.Properties.Settings>
            <setting name="TestName" serializeAs="String">
                <value>Hi Matee</value>
            </setting>
            <setting name="Setting" serializeAs="Xml">
                <value>
                    <ArrayOfInt xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <int>0</int>
                        <int>1</int>
                        <int>3</int>
                    </ArrayOfInt>
                </value>
            </setting>
            <setting name="Setting1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Setting3" serializeAs="String">
                <value>&lt;?xml version="1.0" encoding="utf-8"?&gt;
&lt;MySettingsType xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
  &lt;SettingBool&gt;true&lt;/SettingBool&gt;
  &lt;SettingInt&gt;4345&lt;/SettingInt&gt;
  &lt;SettingStringArray&gt;
    &lt;string&gt;a&lt;/string&gt;
    &lt;string&gt;b&lt;/string&gt;
  &lt;/SettingStringArray&gt;
&lt;/MySettingsType&gt;</value>
            </setting>
            <setting name="Uber" serializeAs="String">
                <value />
            </setting>
            <setting name="Filter1" serializeAs="String">
                <value />
            </setting>
        </cgshop.Properties.Settings>
    </userSettings>
</configuration>